<div class="container coasters-index">

   {{#with park}}
  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
 
  <p>{{description}}</p>
 
  {{/with}}
  <a href="/parks" class="btn btn-dark">Volver</a>

</div>